Repository jamashita/lluvia: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --quiet, sort-package-json

docs: ✏️ ci badge
  README.md
Due: none

test: 💍 fixed
  .gitignore
  packages/collection/jest.config.cjs
  packages/tree/jest.config.cjs
Due: none

feat: 🎸 update
  .github/workflows/ci.yml
  .lintstagedrc.json
  package.json
  packages/collection/package.json
  packages/tree/package.json
  yarn.lock
Due: sort-package-json

chore(release): 1.3.0 [skip ci]
  packages/collection/CHANGELOG.md
  packages/collection/package.json
Due: sort-package-json

Notes added by 'git notes add'
  c966a800f5ad93c51c74cf355b88c5e2af02b30f
Due: none

chore(release): 1.3.0 [skip ci]
  packages/tree/CHANGELOG.md
  packages/tree/package.json
Due: sort-package-json

Notes added by 'git notes add'
  93b4c1a87b5b1f81b053be66f4b159d23c04dea1
Due: none

ci: 🎡 lintstaged oath
  .lintstagedrc.json
Due: none

feat: 🎸 returns empty when the elemnt is 0
  packages/collection/src/Address/ImmutableAddress.ts
  packages/collection/src/Project/ImmutableProject.ts
Due: eslint --fix --quiet

feat: 🎸 update
  package.json
  packages/collection/package.json
  packages/tree/package.json
  yarn.lock
Due: sort-package-json

chore(release): 1.4.0 [skip ci]
  packages/collection/CHANGELOG.md
  packages/collection/package.json
Due: sort-package-json

Notes added by 'git notes add'
  a6cbc4f5dfd3436520118b82e9835511ee4ac5a8
Due: none

chore(release): 1.4.0 [skip ci]
  packages/tree/CHANGELOG.md
  packages/tree/package.json
Due: sort-package-json

Notes added by 'git notes add'
  a0562087a2b874081b2ff315abb7f55cf1b066c5
Due: none

feat: 🎸 Sequence update tet
  packages/collection/src/Interface/Collection.ts
  packages/collection/src/Sequence/Abstract/ASequence.ts
  packages/collection/src/Sequence/ImmutableSequence.ts
  packages/collection/src/Sequence/MutableSequence.ts
  packages/collection/src/Sequence/__tests__/ImmutableSequence.spec.ts
Due: eslint --fix --quiet

style: 💄 iteration -> enumerator
  packages/collection/src/Address/Abstract/AAddress.ts
  packages/collection/src/Quantity.ts
  packages/tree/src/Abstract/ATree.ts
  packages/tree/src/Abstract/ATrees.ts
  packages/tree/src/ClosureTable/ClosureTable.ts
  packages/tree/src/ClosureTable/ClosureTableHierarchies.ts
  packages/tree/src/Interface/ReadonlyTrees.ts
  packages/tree/src/Interface/Tree.ts
Due: eslint --fix --quiet

feat: 🎸 Project update
  packages/collection/src/Project/Abstract/AProject.ts
  packages/collection/src/Project/ImmutableProject.ts
  packages/collection/src/Project/Mock/MockProject.ts
  packages/collection/src/Project/MutableProject.ts
  packages/collection/src/Project/__tests__/AProject.spec.ts
Due: eslint --fix --quiet

feat: 🎸 emmmpty adopition
  packages/collection/src/Project/__tests__/ImmutableProject.spec.ts
Due: eslint --fix --quiet

feat: 🎸 Project settings
  packages/collection/src/Project/__tests__/MutableProject.spec.ts
Due: eslint --fix --quiet

feat: 🎸 Address new impkementation
  packages/collection/src/Address/Abstract/AAddress.ts
  packages/collection/src/Address/ImmutableAddress.ts
  packages/collection/src/Address/MutableAddress.ts
  packages/collection/src/Address/__tests__/AAddress.spec.ts
  packages/collection/src/Address/__tests__/ImmutableAddress.spec.ts
  packages/collection/src/Address/__tests__/MutableAddress.spec.ts
Due: eslint --fix --quiet

test: 💍 test done
  packages/collection/src/Address/Mock/MockAddress.ts
Due: eslint --fix --quiet

chore(release): 1.5.0 [skip ci]
  packages/collection/CHANGELOG.md
  packages/collection/package.json
Due: sort-package-json

Notes added by 'git notes add'
  bbf316670c65b05c35a66d2c567f3b7ca54893e7
Due: none

fix: 🐛 super -> this
  packages/collection/src/Address/ImmutableAddress.ts
  packages/collection/src/Address/Mock/MockAddress.ts
  packages/collection/src/Project/ImmutableProject.ts
  packages/collection/src/Project/MutableProject.ts
  packages/collection/src/Sequence/ImmutableSequence.ts
  packages/collection/src/Sequence/MutableSequence.ts
Due: eslint --fix --quiet

chore(release): 1.5.1 [skip ci]
  packages/collection/CHANGELOG.md
  packages/collection/package.json
Due: sort-package-json

Notes added by 'git notes add'
  c78dbdce6702ab6bd8d7dfbaf4e0fd2ffb41cd06
Due: none

feat: 🎸 update
  package.json
  packages/tree/package.json
  yarn.lock
Due: sort-package-json

feat: 🎸 update
  packages/collection/package.json
  packages/collection/src/Interface/Comparator.ts
  packages/collection/src/Interface/index.ts
  packages/tree/package.json
  yarn.lock
Due: eslint --fix --quiet, sort-package-json

feat: 🎸 update
  .idea/codeStyles/codeStyleConfig.xml
  packages/tree/package.json
  yarn.lock
Due: sort-package-json

feat: 🎸 initial fixation
  packages/collection/src/Interface/Collection.ts
  packages/collection/src/Quantity.ts
Due: eslint --fix --quiet

feat: 🎸 Address fixation
  packages/collection/src/Address/Abstract/AAddress.ts
  packages/collection/src/Address/ImmutableAddress.ts
  packages/collection/src/Address/Interface/Address.ts
  packages/collection/src/Address/Interface/ReadonlyAddress.ts
  packages/collection/src/Address/Mock/MockAddress.ts
  packages/collection/src/Address/MutableAddress.ts
Due: eslint --fix --quiet

fix: 🐛 trivial changes
  packages/collection/src/Address/Interface/Address.ts
  packages/collection/src/Address/Interface/ReadonlyAddress.ts
  packages/collection/src/Address/MutableAddress.ts
Due: eslint --fix --quiet

fix: 🐛 Sequeence explained
  packages/collection/src/Sequence/Abstract/ASequence.ts
  packages/collection/src/Sequence/ImmutableSequence.ts
  packages/collection/src/Sequence/Interface/ReadonlySequence.ts
  packages/collection/src/Sequence/Interface/Sequence.ts
  packages/collection/src/Sequence/Mock/MockSequence.ts
  packages/collection/src/Sequence/MutableSequence.ts
Due: eslint --fix --quiet

feat: 🎸 update
  packages/collection/package.json
Due: sort-package-json

feat: 🎸 Project
  packages/collection/src/Project/Abstract/AProject.ts
  packages/collection/src/Project/ImmutableProject.ts
  packages/collection/src/Project/Interface/Project.ts
  packages/collection/src/Project/Interface/ReadonlyProject.ts
  packages/collection/src/Project/Mock/MockProject.ts
  packages/collection/src/Project/MutableProject.ts
Due: eslint --fix --quiet

perf: ⚡️ breaking change tree changed
  packages/collection/src/Sequence/ImmutableSequence.ts
  packages/collection/src/Sequence/__tests__/ImmutableSequence.spec.ts
  packages/tree/src/Abstract/ATree.ts
  packages/tree/src/Abstract/ATrees.ts
  packages/tree/src/ClosureTable/ClosureTable.ts
  packages/tree/src/ClosureTable/ClosureTableHierarchies.ts
  packages/tree/src/Interface/ReadonlyTrees.ts
  packages/tree/src/Interface/Tree.ts
  packages/tree/src/Mock/MockTreeObject.ts
  packages/tree/src/SerializableTrees.ts
  packages/tree/src/StructurableTree.ts
  packages/tree/src/StructurableTrees.ts
  packages/tree/src/TreeNode/Abstract/ATreeNode.ts
  packages/tree/src/TreeNode/Interface/ReadonlyTreeNode.ts
  packages/tree/src/TreeNode/Mock/MockTreeNode.ts
  packages/tree/src/TreeNode/SerializableTreeNode.ts
  packages/tree/src/TreeNode/StructurableTreeNode.ts
Due: eslint --fix --quiet

fix: 🐛 mock
  packages/collection/src/Sequence/Mock/MockSequence.ts
Due: eslint --fix --quiet

feat: 🎸 Atree adoed
  packages/tree/src/Abstract/ATree.ts
Due: eslint --fix --quiet

fix: 🐛 Enumerator -> Catalogue
  packages/tree/src/Interface/ReadonlyTrees.ts
  packages/tree/src/Interface/Tree.ts
Due: eslint --fix --quiet

chore(release): 1.6.0 [skip ci]
  packages/collection/CHANGELOG.md
  packages/collection/package.json
Due: sort-package-json

Path conditions:
  eslint --fix --quiet: any of: packages/*/src/**/*.{ts,tsx}
  sort-package-json: (any of: package.json) or (any of: packages/**/package.json)
