Repository jamashita/lluvia: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --quiet, sort-package-json

.lintstagedrc.json:

{
  "packages/*/src/**/*.{ts,tsx}": "eslint --fix --quiet",
  "packages/*/package.json": "sort-package-json",
  "package.json": "sort-package-json"
}

Notes added by 'git notes add'
  bcef8c6f593fad6c96d590db94d571773a6334a6
Due: none

chore(release): 1.5.0 [skip ci]
  packages/tree/CHANGELOG.md
  packages/tree/package.json
Due: sort-package-json

Notes added by 'git notes add'
  49de33244d2768052c67597d7e9a8a7342cf91dc
Due: none

feat: 🎸 update
  package.json
  packages/tree/package.json
  yarn.lock
Due: sort-package-json

fix: 🐛 trivial cahnged
  packages/collection/src/Sequence/Abstract/ASequence.ts
  packages/collection/src/Sequence/ImmutableSequence.ts
  packages/collection/src/Sequence/MutableSequence.ts
Due: eslint --fix --quiet

ci: 🎡 preparing to remove release branch
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

fix: 🐛 triggering branch
  .releaserc.json
Due: none

ci: 🎡 release branch reverted
  .github/workflows/ci.yml
  .releaserc.json
Due: none

ci: 🎡 15 -> 16
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

ci: 🎡 git hook
  .husky/commit-msg
  .npmignore
  commitlint.config.cjs
Due: none

chore: 🤖 tsconfig.json improved
  packages/collection/jest.config.cjs
  packages/collection/tsconfig.build.json
  packages/collection/tsconfig.cjs.json
  packages/collection/tsconfig.esm.json
  packages/tree/jest.config.cjs
  packages/tree/tsconfig.build.json
  packages/tree/tsconfig.cjs.json
  packages/tree/tsconfig.esm.json
Due: none

docs: ✏️ README.md
  README.md
Due: none

chore: 🤖 tsconfig.jsono
  tsconfig.json
Due: none

chore: 🤖 package.json
  packages/collection/package.json
  packages/tree/package.json
Due: sort-package-json

feat: 🎸 update
  package.json
  packages/collection/package.json
  packages/tree/package.json
  yarn.lock
Due: sort-package-json

refactor: 💡 override option adopited
  packages/collection/src/Address/Abstract/AAddress.ts
  packages/collection/src/Address/ImmutableAddress.ts
  packages/collection/src/Project/Abstract/AProject.ts
  packages/collection/src/Project/ImmutableProject.ts
  packages/collection/src/Sequence/Abstract/ASequence.ts
  packages/collection/src/Sequence/ImmutableSequence.ts
  packages/tree/src/ClosureTable/ClosureTable.ts
  packages/tree/src/ClosureTable/ClosureTableHierarchies.ts
Due: eslint --fix --quiet

refactor: 💡 extensions for esm
  packages/collection/src/Address/__tests__/AAddress.spec.ts
  packages/collection/src/Project/Abstract/AProject.ts
  packages/collection/src/Project/__tests__/AProject.spec.ts
  packages/collection/src/Project/__tests__/ImmutableProject.spec.ts
  packages/collection/src/Project/__tests__/MutableProject.spec.ts
  packages/collection/src/Quantity.ts
  packages/collection/src/Sequence/Abstract/ASequence.ts
  packages/collection/src/Sequence/Interface/ReadonlySequence.ts
  packages/collection/src/Sequence/__tests__/MutableSequence.spec.ts
  packages/tree/src/ClosureTable/ClosureTableHierarchy.ts
  packages/tree/src/ClosureTable/Interface/TreeIDFactory.ts
  packages/tree/src/ClosureTable/Mock/MockClosureTable.ts
  packages/tree/src/ClosureTable/Mock/MockClosureTableHierarchies.ts
  packages/tree/src/ClosureTable/Mock/MockClosureTableHierarchy.ts
  packages/tree/src/ClosureTable/Mock/MockTreeIDFactory.ts
  packages/tree/src/ClosureTable/__tests__/ClosureTable.spec.ts
  packages/tree/src/ClosureTable/__tests__/ClosureTableHierarchies.spec.ts
  packages/tree/src/ClosureTable/__tests__/ClosureTableHierarchy.spec.ts
  packages/tree/src/Interface/ReadonlyTrees.ts
  packages/tree/src/Interface/StructurableTreeObject.ts
  packages/tree/src/Interface/Trees.ts
  packages/tree/src/Mock/MockTreeObject.ts
  packages/tree/src/StructurableTrees.ts
  packages/tree/src/TreeNode/Abstract/ATreeNode.ts
  packages/tree/src/TreeNode/Mock/MockTreeNode.ts
  packages/tree/src/TreeNode/SerializableTreeNode.ts
  packages/tree/src/TreeNode/StructurableTreeNode.ts
  packages/tree/src/TreeNode/__tests__/SerializableTreeNode.spec.ts
  packages/tree/src/TreeNode/__tests__/StructurableTreeNode.spec.ts
  packages/tree/src/__tests__/SerializableTree.spec.ts
  packages/tree/src/__tests__/SerializableTrees.spec.ts
  packages/tree/src/__tests__/StructurableTree.spec.ts
  packages/tree/src/__tests__/StructurableTrees.spec.ts
  packages/tree/src/__tests__/Tree.spec.ts
  packages/tree/src/__tests__/Trees.spec.ts
Due: eslint --fix --quiet

test: 💍 esm adopition
  jest.config.cjs
Due: none

ci: 🎡 root package versionining
  package.json
Due: sort-package-json

feat: 🎸 sequence separated
  packages/address/README.md
  packages/address/package.json
  packages/address/tsconfig.build.json
  packages/collection/src/Sequence/Interface/index.ts
  packages/collection/src/Sequence/index.ts
  packages/collection/src/index.ts
  packages/project/README.md
  packages/project/package.json
  packages/project/tsconfig.build.json
  packages/sequence/Abstract/ASequence.ts
  packages/sequence/ImmutableSequence.ts
  packages/sequence/Interface/ReadonlySequence.ts
  packages/sequence/Interface/Sequence.ts
  packages/sequence/Interface/index.ts
  packages/sequence/Mock/MockSequence.ts
  packages/sequence/MutableSequence.ts
  packages/sequence/README.md
  packages/sequence/__tests__/ASequence.spec.ts
  packages/sequence/__tests__/ImmutableSequence.spec.ts
  packages/sequence/__tests__/MutableSequence.spec.ts
  packages/sequence/index.ts
  packages/sequence/package.json
  packages/sequence/tsconfig.build.json
Due: eslint --fix --quiet, sort-package-json

feat: 🎸 project separated
  packages/collection/src/Address/Abstract/AAddress.ts
  packages/collection/src/Address/ImmutableAddress.ts
  packages/collection/src/Address/Interface/Address.ts
  packages/collection/src/Address/Interface/ReadonlyAddress.ts
  packages/collection/src/Address/Interface/index.ts
  packages/collection/src/Address/Mock/MockAddress.ts
  packages/collection/src/Address/MutableAddress.ts
  packages/collection/src/Address/__tests__/AAddress.spec.ts
  packages/collection/src/Address/__tests__/ImmutableAddress.spec.ts
  packages/collection/src/Address/__tests__/MutableAddress.spec.ts
  packages/collection/src/Address/index.ts
  packages/collection/src/Project/Interface/index.ts
  packages/collection/src/Project/index.ts
  packages/project/Abstract/AProject.ts
  packages/project/ImmutableProject.ts
  packages/project/Interface/Project.ts
  packages/project/Interface/ReadonlyProject.ts
  packages/project/Interface/index.ts
  packages/project/Mock/MockProject.ts
  packages/project/MutableProject.ts
  packages/project/README.md
  packages/project/__tests__/AProject.spec.ts
  packages/project/__tests__/ImmutableProject.spec.ts
  packages/project/__tests__/MutableProject.spec.ts
  packages/project/index.ts
  packages/project/package.json
  packages/project/tsconfig.build.json
Due: eslint --fix --quiet, sort-package-json

docs: ✏️ READMEmd
  packages/sequence/README.md
  packages/sequence/tsconfig.build.json
Due: none

refactor: 💡 extension for esm
  packages/collection/src/Interface/index.ts
Due: eslint --fix --quiet

feat: 🎸 Addresss separated
  packages/address/Abstract/AAddress.ts
  packages/address/ImmutableAddress.ts
  packages/address/Interface/Address.ts
  packages/address/Interface/ReadonlyAddress.ts
  packages/address/Interface/index.ts
  packages/address/Mock/MockAddress.ts
  packages/address/MutableAddress.ts
  packages/address/README.md
  packages/address/__tests__/AAddress.spec.ts
  packages/address/__tests__/ImmutableAddress.spec.ts
  packages/address/__tests__/MutableAddress.spec.ts
  packages/address/index.ts
  packages/address/package.json
  packages/address/tsconfig.build.json
Due: sort-package-json

refactor: 💡 directory positioning
  packages/address/src/Abstract/AAddress.ts
  packages/address/src/ImmutableAddress.ts
  packages/address/src/Interface/Address.ts
  packages/address/src/Interface/ReadonlyAddress.ts
  packages/address/src/Interface/index.ts
  packages/address/src/Mock/MockAddress.ts
  packages/address/src/MutableAddress.ts
  packages/address/src/__tests__/AAddress.spec.ts
  packages/address/src/__tests__/ImmutableAddress.spec.ts
  packages/address/src/__tests__/MutableAddress.spec.ts
  packages/address/src/index.ts
  packages/project/src/Abstract/AProject.ts
  packages/project/src/ImmutableProject.ts
  packages/project/src/Interface/Project.ts
  packages/project/src/Interface/ReadonlyProject.ts
  packages/project/src/Interface/index.ts
  packages/project/src/Mock/MockProject.ts
  packages/project/src/MutableProject.ts
  packages/project/src/__tests__/AProject.spec.ts
  packages/project/src/__tests__/ImmutableProject.spec.ts
  packages/project/src/__tests__/MutableProject.spec.ts
  packages/project/src/index.ts
  packages/sequence/src/Abstract/ASequence.ts
  packages/sequence/src/ImmutableSequence.ts
  packages/sequence/src/Interface/ReadonlySequence.ts
  packages/sequence/src/Interface/Sequence.ts
  packages/sequence/src/Interface/index.ts
  packages/sequence/src/Mock/MockSequence.ts
  packages/sequence/src/MutableSequence.ts
  packages/sequence/src/__tests__/ASequence.spec.ts
  packages/sequence/src/__tests__/ImmutableSequence.spec.ts
  packages/sequence/src/__tests__/MutableSequence.spec.ts
  packages/sequence/src/index.ts
Due: eslint --fix --quiet

refactor: 💡 export extension and lerna link
  packages/tree/src/Abstract/ATree.ts
  packages/tree/src/Abstract/ATrees.ts
  packages/tree/src/ClosureTable/ClosureTable.ts
  packages/tree/src/ClosureTable/ClosureTableHierarchies.ts
  packages/tree/src/ClosureTable/Mock/MockClosureTable.ts
  packages/tree/src/ClosureTable/Mock/MockClosureTableHierarchies.ts
  packages/tree/src/ClosureTable/Mock/index.ts
  packages/tree/src/ClosureTable/__tests__/ClosureTable.spec.ts
  packages/tree/src/ClosureTable/__tests__/ClosureTableHierarchies.spec.ts
  packages/tree/src/ClosureTable/__tests__/ClosureTableHierarchy.spec.ts
  packages/tree/src/ClosureTable/index.ts
  packages/tree/src/Interface/Tree.ts
  packages/tree/src/Interface/index.ts
  packages/tree/src/Mock/MockTree.ts
  packages/tree/src/Mock/MockTreeID.ts
  packages/tree/src/Mock/MockTrees.ts
  packages/tree/src/Mock/index.ts
  packages/tree/src/SerializableTree.ts
  packages/tree/src/SerializableTrees.ts
  packages/tree/src/StructurableTree.ts
  packages/tree/src/StructurableTrees.ts
  packages/tree/src/TreeNode/Abstract/ATreeNode.ts
  packages/tree/src/TreeNode/Interface/ReadonlyTreeNode.ts
  packages/tree/src/TreeNode/Interface/TreeNode.ts
  packages/tree/src/TreeNode/Interface/index.ts
  packages/tree/src/TreeNode/Mock/MockTreeNode.ts
  packages/tree/src/TreeNode/SerializableTreeNode.ts
  packages/tree/src/TreeNode/StructurableTreeNode.ts
  packages/tree/src/TreeNode/__tests__/ATreeNode.spec.ts
  packages/tree/src/TreeNode/__tests__/SerializableTreeNode.spec.ts
  packages/tree/src/TreeNode/__tests__/StructurableTreeNode.spec.ts
  packages/tree/src/TreeNode/index.ts
  packages/tree/src/__tests__/SerializableTrees.spec.ts
  packages/tree/src/__tests__/StructurableTree.spec.ts
  packages/tree/src/__tests__/StructurableTrees.spec.ts
  packages/tree/src/__tests__/Tree.spec.ts
  packages/tree/src/__tests__/Trees.spec.ts
  packages/tree/src/index.ts
Due: eslint --fix --quiet

chore: 🤖 link process
  packages/tree/package.json
  packages/tree/tsconfig.build.json
Due: sort-package-json

ci: 🎡 15-> 16
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

ci: 🎡 linkt ?
  .lintstagedrc.json
  packages/tree/package.json
Due: sort-package-json

ci: 🎡 husky git hoook options
  .github/workflows/copy.yml
  .lintstagedrc.json
Due: none

ci: 🎡 main -> release
  .github/workflows/release.yml
Due: none

chore(release): 1.7.0 [skip ci]
  packages/collection/CHANGELOG.md
  packages/collection/package.json
Due: sort-package-json

Notes added by 'git notes add'
  4b905cf7bf2512d28c6b897cf107f3a4202ead59
Due: none

chore(release): 1.0.0 [skip ci]
  packages/address/CHANGELOG.md
  packages/address/package.json
Due: sort-package-json

Notes added by 'git notes add'
  cc75cb34222bfb5c053d6e36ef728316ada0f1d7
Due: none

chore(release): 1.0.0 [skip ci]
  packages/project/CHANGELOG.md
  packages/project/package.json
Due: sort-package-json

Notes added by 'git notes add'
  cb841c965bcd3315eb56d9cdd6b744a5b5ebd309
Due: none

chore(release): 1.0.0 [skip ci]
  packages/sequence/CHANGELOG.md
  packages/sequence/package.json
Due: sort-package-json

Notes added by 'git notes add'
  b23968fb17cc24476b36138e422d4d727a82c325
Due: none
