Repository jamashita/lluvia: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --quiet, sort-package-json

.lintstagedrc.json:

{
  "packages/**/src/**/*.{ts,tsx}": "eslint --fix --quiet",
  "package.json": "sort-package-json"
}

Notes added by 'git notes add'
  fab8ce4664037fb184b3bdc38110791e881f06e2
Due: none

chore(release): 2.6.0 [skip ci]
  packages/tree/CHANGELOG.md
  packages/tree/package.json
Due: sort-package-json

Notes added by 'git notes add'
  e98e806b74e3b9a22ed0a8b9235f50444c37aac9
Due: none

test: 💍 reformat
  packages/address/src/__tests__/AAddress.spec.ts
  packages/address/src/__tests__/ImmutableAddress.spec.ts
  packages/address/src/__tests__/MutableAddress.spec.ts
  packages/project/src/__tests__/AProject.spec.ts
  packages/project/src/__tests__/ImmutableProject.spec.ts
  packages/project/src/__tests__/MutableProject.spec.ts
  packages/sequence/src/__tests__/ASequence.spec.ts
  packages/sequence/src/__tests__/ImmutableSequence.spec.ts
  packages/sequence/src/__tests__/MutableSequence.spec.ts
  packages/tree/src/ClosureTable/__tests__/ClosureTable.spec.ts
  packages/tree/src/ClosureTable/__tests__/ClosureTableHierarchies.spec.ts
  packages/tree/src/ClosureTable/__tests__/ClosureTableHierarchy.spec.ts
  packages/tree/src/TreeNode/__tests__/ATreeNode.spec.ts
  packages/tree/src/TreeNode/__tests__/SerializableTreeNode.spec.ts
  packages/tree/src/TreeNode/__tests__/StructurableTreeNode.spec.ts
  packages/tree/src/__tests__/SerializableTree.spec.ts
  packages/tree/src/__tests__/SerializableTrees.spec.ts
  packages/tree/src/__tests__/StructurableTree.spec.ts
  packages/tree/src/__tests__/StructurableTrees.spec.ts
  packages/tree/src/__tests__/Tree.spec.ts
  packages/tree/src/__tests__/Trees.spec.ts
Due: eslint --fix --quiet

docs: ✏️ changelog
  packages/address/CHANGELOG.md
  packages/collection/CHANGELOG.md
  packages/project/CHANGELOG.md
  packages/sequence/CHANGELOG.md
  packages/tree/CHANGELOG.md
Due: none

feat: 🎸 removed sinon
  package.json
  packages/address/package.json
  packages/collection/package.json
  packages/project/package.json
  packages/sequence/package.json
  packages/tree/package.json
  yarn.lock
Due: sort-package-json

refactor: 💡 remove extra T in gnerics
  packages/address/src/ImmutableAddress.ts
  packages/address/src/Mock/MockAddress.ts
  packages/address/src/MutableAddress.ts
  packages/project/src/ImmutableProject.ts
  packages/project/src/Mock/MockProject.ts
  packages/project/src/MutableProject.ts
  packages/sequence/src/ImmutableSequence.ts
  packages/sequence/src/MutableSequence.ts
  packages/tree/src/ClosureTable/ClosureTable.ts
  packages/tree/src/ClosureTable/ClosureTableHierarchies.ts
  packages/tree/src/ClosureTable/ClosureTableHierarchy.ts
  packages/tree/src/ClosureTable/Mock/MockClosureTable.ts
  packages/tree/src/SerializableTree.ts
  packages/tree/src/SerializableTrees.ts
  packages/tree/src/StructurableTree.ts
  packages/tree/src/StructurableTrees.ts
  packages/tree/src/TreeNode/SerializableTreeNode.ts
  packages/tree/src/TreeNode/StructurableTreeNode.ts
Due: eslint --fix --quiet

feat: 🎸 packages updated
  package.json
  packages/address/package.json
  packages/project/package.json
  packages/sequence/package.json
  packages/tree/package.json
  yarn.lock
Due: sort-package-json

refactor: 💡 renamed
  packages/address/src/__tests__/AAddress.spec.ts
  packages/address/src/bb/MockAddress.ts
  packages/address/src/index.ts
  packages/project/src/__tests__/AProject.spec.ts
  packages/project/src/bb/MockProject.ts
  packages/project/src/index.ts
  packages/sequence/src/__tests__/ASequence.spec.ts
  packages/sequence/src/bb/MockSequence.ts
  packages/sequence/src/index.ts
  packages/tree/src/ClosureTable/__tests__/ClosureTable.spec.ts
  packages/tree/src/ClosureTable/__tests__/ClosureTableHierarchies.spec.ts
  packages/tree/src/ClosureTable/__tests__/ClosureTableHierarchy.spec.ts
  packages/tree/src/ClosureTable/bb/MockClosureTable.ts
  packages/tree/src/ClosureTable/bb/MockClosureTableHierarchies.ts
  packages/tree/src/ClosureTable/bb/MockClosureTableHierarchy.ts
  packages/tree/src/ClosureTable/bb/MockTreeIDFactory.ts
  packages/tree/src/ClosureTable/bb/index.ts
  packages/tree/src/ClosureTable/index.ts
  packages/tree/src/TreeNode/__tests__/ATreeNode.spec.ts
  packages/tree/src/TreeNode/__tests__/SerializableTreeNode.spec.ts
  packages/tree/src/TreeNode/__tests__/StructurableTreeNode.spec.ts
  packages/tree/src/TreeNode/bb/MockTreeNode.ts
  packages/tree/src/TreeNode/index.ts
  packages/tree/src/__tests__/SerializableTree.spec.ts
  packages/tree/src/__tests__/SerializableTrees.spec.ts
  packages/tree/src/__tests__/StructurableTree.spec.ts
  packages/tree/src/__tests__/StructurableTrees.spec.ts
  packages/tree/src/__tests__/Tree.spec.ts
  packages/tree/src/__tests__/Trees.spec.ts
  packages/tree/src/bb/MockTree.ts
  packages/tree/src/bb/MockTreeID.ts
  packages/tree/src/bb/MockTreeObject.ts
  packages/tree/src/bb/MockTrees.ts
  packages/tree/src/bb/index.ts
  packages/tree/src/index.ts
Due: eslint --fix --quiet

refactor: 💡 renamed
  packages/address/src/__tests__/AAddress.spec.ts
  packages/address/src/index.ts
  packages/address/src/mock/MockAddress.ts
  packages/project/src/__tests__/AProject.spec.ts
  packages/project/src/index.ts
  packages/project/src/mock/MockProject.ts
  packages/sequence/src/__tests__/ASequence.spec.ts
  packages/sequence/src/index.ts
  packages/sequence/src/mock/MockSequence.ts
  packages/tree/src/ClosureTable/__tests__/ClosureTable.spec.ts
  packages/tree/src/ClosureTable/__tests__/ClosureTableHierarchies.spec.ts
  packages/tree/src/ClosureTable/__tests__/ClosureTableHierarchy.spec.ts
  packages/tree/src/ClosureTable/index.ts
  packages/tree/src/ClosureTable/mock/MockClosureTable.ts
  packages/tree/src/ClosureTable/mock/MockClosureTableHierarchies.ts
  packages/tree/src/ClosureTable/mock/MockClosureTableHierarchy.ts
  packages/tree/src/ClosureTable/mock/MockTreeIDFactory.ts
  packages/tree/src/ClosureTable/mock/index.ts
  packages/tree/src/TreeNode/__tests__/ATreeNode.spec.ts
  packages/tree/src/TreeNode/__tests__/SerializableTreeNode.spec.ts
  packages/tree/src/TreeNode/__tests__/StructurableTreeNode.spec.ts
  packages/tree/src/TreeNode/index.ts
  packages/tree/src/TreeNode/mock/MockTreeNode.ts
  packages/tree/src/__tests__/SerializableTree.spec.ts
  packages/tree/src/__tests__/SerializableTrees.spec.ts
  packages/tree/src/__tests__/StructurableTree.spec.ts
  packages/tree/src/__tests__/StructurableTrees.spec.ts
  packages/tree/src/__tests__/Tree.spec.ts
  packages/tree/src/__tests__/Trees.spec.ts
  packages/tree/src/index.ts
  packages/tree/src/mock/MockTree.ts
  packages/tree/src/mock/MockTreeID.ts
  packages/tree/src/mock/MockTreeObject.ts
  packages/tree/src/mock/MockTrees.ts
  packages/tree/src/mock/index.ts
Due: eslint --fix --quiet

test: 💍 ignore dir
  jest.config.cjs
Due: none

feat: 🎸 reduce
  packages/sequence/src/ASequence.ts
  packages/sequence/src/ReadonlySequence.ts
  packages/sequence/src/__tests__/ASequence.spec.ts
Due: eslint --fix --quiet

feat: 🎸 update
  package.json
  yarn.lock
Due: sort-package-json

feat: 🎸 updated
  packages/address/package.json
  packages/collection/package.json
  packages/project/package.json
  packages/sequence/package.json
  packages/tree/package.json
  yarn.lock
Due: sort-package-json

fix: 🐛 removed hashor
  packages/address/src/AAddress.ts
  packages/address/src/ImmutableAddress.ts
  packages/address/src/MutableAddress.ts
  packages/project/src/AProject.ts
  packages/project/src/ImmutableProject.ts
  packages/project/src/MutableProject.ts
Due: eslint --fix --quiet

chore(release): 2.6.0 [skip ci]
  packages/collection/CHANGELOG.md
  packages/collection/package.json
Due: sort-package-json

Notes added by 'git notes add'
  cafe5dd277670b04b35e4a167375d965300c4e0a
Due: none

Notes added by 'git notes add'
  a5a1a6bc14c977969c86343f8a668ed3f3557b1b
Due: none

chore(release): 2.7.0 [skip ci]
  packages/address/CHANGELOG.md
  packages/address/package.json
Due: sort-package-json

chore(release): 2.7.0 [skip ci]
  packages/project/CHANGELOG.md
  packages/project/package.json
Due: sort-package-json

Notes added by 'git notes add'
  634e23b579cb86be5a5ebf19553614efcccffce9
Due: none

chore(release): 2.7.0 [skip ci]
  packages/sequence/CHANGELOG.md
  packages/sequence/package.json
Due: sort-package-json

Notes added by 'git notes add'
  6b915e69b4055e8066dfaad9482225b9ea4308a4
Due: none

chore(release): 2.7.0 [skip ci]
  packages/tree/CHANGELOG.md
  packages/tree/package.json
Due: sort-package-json

Notes added by 'git notes add'
  9103d5584d27e7ddd1cf18106a0e7c4d63167b97
Due: none

feat: 🎸 packages updated
  package.json
  packages/address/package.json
  packages/collection/package.json
  packages/project/package.json
  packages/sequence/package.json
  packages/tree/package.json
  yarn.lock
Due: sort-package-json

test: 💍 test ordering
  packages/address/src/__tests__/AAddress.spec.ts
  packages/address/src/__tests__/ImmutableAddress.spec.ts
  packages/address/src/__tests__/MutableAddress.spec.ts
  packages/project/src/__tests__/AProject.spec.ts
  packages/project/src/__tests__/ImmutableProject.spec.ts
  packages/project/src/__tests__/MutableProject.spec.ts
  packages/sequence/src/__tests__/ASequence.spec.ts
  packages/sequence/src/__tests__/ImmutableSequence.spec.ts
  packages/sequence/src/__tests__/MutableSequence.spec.ts
  packages/tree/src/ClosureTable/__tests__/ClosureTable.spec.ts
  packages/tree/src/ClosureTable/__tests__/ClosureTableHierarchies.spec.ts
  packages/tree/src/TreeNode/__tests__/ATreeNode.spec.ts
  packages/tree/src/__tests__/StructurableTree.spec.ts
  packages/tree/src/__tests__/StructurableTrees.spec.ts
  packages/tree/src/__tests__/Tree.spec.ts
  packages/tree/src/__tests__/Trees.spec.ts
Due: eslint --fix --quiet

chore(release): 2.7.0 [skip ci]
  packages/collection/CHANGELOG.md
  packages/collection/package.json
Due: sort-package-json

Notes added by 'git notes add'
  082bdae408c808ef58a3fe214a8832fc82d82c4b
Due: none

ci: 🎡 new workflow codeql
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/copy.yml
  .github/workflows/release.yml
Due: none

feat: 🎸 packages updated
  packages/address/src/AAddress.ts
  packages/address/src/ImmutableAddress.ts
  packages/address/src/MutableAddress.ts
  packages/address/src/mock/MockAddress.ts
  packages/collection/src/Quantity.ts
  packages/project/src/AProject.ts
  packages/project/src/ImmutableProject.ts
  packages/project/src/MutableProject.ts
  packages/project/src/mock/MockProject.ts
  packages/sequence/src/ASequence.ts
  packages/tree/src/ClosureTable/mock/MockClosureTable.ts
Due: eslint --fix --quiet

chore(release): 2.8.0 [skip ci]
  packages/collection/CHANGELOG.md
  packages/collection/package.json
Due: sort-package-json

Notes added by 'git notes add'
  f412bed9d9c5a602dace241a3486041084fcf46d
Due: none

chore(release): 2.8.0 [skip ci]
  packages/address/CHANGELOG.md
  packages/address/package.json
Due: sort-package-json

Notes added by 'git notes add'
  49112e45eaa1288ee42369475436770e564747c8
Due: none

chore(release): 2.8.0 [skip ci]
  packages/project/CHANGELOG.md
  packages/project/package.json
Due: sort-package-json

Notes added by 'git notes add'
  2ef4cf13d83ebb60488acb2c2d7ac43c0c41019b
Due: none
