Repository jamashita/lluvia: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --quiet, sort-package-json

.lintstagedrc.json:

{
  "packages/**/src/**/*.{ts,tsx}": "eslint --fix --quiet",
  "package.json": "sort-package-json"
}

Notes added by 'git notes add'
  ccb20a8ded38c7b69173ca674e3fdda610787095
Due: none

chore(release): 2.11.0 [skip ci]
  packages/sequence/CHANGELOG.md
  packages/sequence/package.json
Due: sort-package-json

Notes added by 'git notes add'
  6803d6e414ebd2044c2141617e0d659e0b7900e9
Due: none

chore(release): 2.11.0 [skip ci]
  packages/tree/CHANGELOG.md
  packages/tree/package.json
Due: sort-package-json

Notes added by 'git notes add'
  7facdb30f3b4584676c269a8a3177c80a0f959f5
Due: none

feat: 🎸 packages updated
  package.json
  packages/address/package.json
  packages/collection/package.json
  packages/project/package.json
  packages/sequence/package.json
  packages/tree/package.json
  yarn.lock
Due: sort-package-json

ci: 🎡 node version increased
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

test: 💍 jest option
  jest.config.cjs
Due: none

docs: ✏️ requisite
  README.md
Due: none

chore(release): 2.12.0 [skip ci]
  packages/collection/CHANGELOG.md
  packages/collection/package.json
Due: sort-package-json

chore(release): 2.12.0 [skip ci]
  packages/address/CHANGELOG.md
  packages/address/package.json
Due: sort-package-json

Notes added by 'git notes add'
  d8/932b9ecf66f40d4c94d4c8506086804e127481
Due: none

chore(release): 2.12.0 [skip ci]
  packages/project/CHANGELOG.md
  packages/project/package.json
Due: sort-package-json

Notes added by 'git notes add'
  66/341f7fa54bfd6d5bf9b328ebe1e7eeb0a5c48d
Due: none

chore(release): 2.12.0 [skip ci]
  packages/sequence/CHANGELOG.md
  packages/sequence/package.json
Due: sort-package-json

Notes added by 'git notes add'
  84/3709d6cc4b60d8ce62ffa190ba3a5be665164d
Due: none

chore(release): 2.12.0 [skip ci]
  packages/tree/CHANGELOG.md
  packages/tree/package.json
Due: sort-package-json

Notes added by 'git notes add'
  ff/b30ceadf837e8db2b349c991f803e247d95bb2
Due: none

ci: 🎡 remove ''
  .github/workflows/ci.yml
Due: none

feat: 🎸 invariance
  packages/address/src/AAddress.ts
  packages/address/src/Address.ts
  packages/address/src/ImmutableAddress.ts
  packages/address/src/MutableAddress.ts
  packages/address/src/ReadonlyAddress.ts
  packages/collection/src/Collection.ts
  packages/collection/src/Quantity.ts
  packages/project/src/AProject.ts
  packages/project/src/ImmutableProject.ts
  packages/project/src/MutableProject.ts
  packages/project/src/Project.ts
  packages/project/src/ReadonlyProject.ts
  packages/sequence/src/ASequence.ts
  packages/sequence/src/ImmutableSequence.ts
  packages/sequence/src/MutableSequence.ts
  packages/sequence/src/ReadonlySequence.ts
  packages/sequence/src/Sequence.ts
Due: eslint --fix --quiet

chore: 🤖 tsconfig.json
  tsconfig.json
Due: none

chore(release): 2.13.0 [skip ci]
  packages/collection/CHANGELOG.md
  packages/collection/package.json
Due: sort-package-json

Notes added by 'git notes add'
  1e/0124beec269e7446b06c9c3e3c7cbcc0af270c
Due: none

chore(release): 2.13.0 [skip ci]
  packages/address/CHANGELOG.md
  packages/address/package.json
Due: sort-package-json

Notes added by 'git notes add'
  c2/aed0c223544d754940e8bfd1dcd5ea1e02c12b
Due: none

Notes added by 'git notes add'
  70/14908f0333e0091d548b803aba8994d28fdb83
Due: none

chore(release): 2.13.0 [skip ci]
  packages/project/CHANGELOG.md
  packages/project/package.json
Due: sort-package-json

chore(release): 2.13.0 [skip ci]
  packages/sequence/CHANGELOG.md
  packages/sequence/package.json
Due: sort-package-json

Notes added by 'git notes add'
  29/860cf9bd331ec8f9c575c2c5e4526981dab95b
Due: none

chore: 🤖 package.json
  package.json
Due: sort-package-json

ci: 🎡 branch name
  .github/workflows/ci.yml
Due: none

feat: 🎸 packages updated
  package.json
  packages/address/package.json
  packages/project/package.json
  packages/sequence/package.json
  packages/tree/package.json
  yarn.lock
Due: sort-package-json

chore(release): 2.14.0 [skip ci]
  packages/address/CHANGELOG.md
  packages/address/package.json
Due: sort-package-json

Notes added by 'git notes add'
  d3/a6e664d582d942a160d29256ceaade0b150ca7
Due: none

chore(release): 2.14.0 [skip ci]
  packages/project/CHANGELOG.md
  packages/project/package.json
Due: sort-package-json

Notes added by 'git notes add'
  15/7a762217171e51e6f74ebb644852ba99981f08
Due: none
