Repository jamashita/lluvia: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --quiet, sort-package-json

.lintstagedrc.json:

{
  "packages/**/src/**/*.{ts,tsx}": "eslint --fix --quiet",
  "package.json": "sort-package-json"
}

chore(release): 2.8.0 [skip ci]
  packages/sequence/CHANGELOG.md
  packages/sequence/package.json
Due: sort-package-json

Notes added by 'git notes add'
  b7adaf7d6ae4f5c4fd9df8f615a01b17730ff9ab
Due: none

chore(release): 2.8.0 [skip ci]
  packages/tree/CHANGELOG.md
  packages/tree/package.json
Due: sort-package-json

Notes added by 'git notes add'
  d1a802eba9b8ed526dcbc21bb1033790658eba36
Due: none

ci: 🎡 styling
  .github/workflows/codeql.yml
Due: none

feat: 🎸 packages updated
  package.json
  packages/address/package.json
  packages/collection/package.json
  packages/project/package.json
  packages/sequence/package.json
  packages/tree/package.json
  yarn.lock
Due: sort-package-json

feat: 🎸 args name and types changed
  packages/address/src/AAddress.ts
  packages/address/src/Address.ts
  packages/address/src/ImmutableAddress.ts
  packages/address/src/MutableAddress.ts
  packages/address/src/ReadonlyAddress.ts
  packages/address/src/index.ts
  packages/address/src/mock/index.ts
  packages/collection/src/Collection.ts
  packages/collection/src/Quantity.ts
  packages/project/src/AProject.ts
  packages/project/src/ImmutableProject.ts
  packages/project/src/MutableProject.ts
  packages/project/src/Project.ts
  packages/project/src/ReadonlyProject.ts
  packages/project/src/index.ts
  packages/project/src/mock/index.ts
  packages/sequence/src/ASequence.ts
  packages/sequence/src/ImmutableSequence.ts
  packages/sequence/src/MutableSequence.ts
  packages/sequence/src/ReadonlySequence.ts
  packages/sequence/src/Sequence.ts
  packages/sequence/src/index.ts
  packages/sequence/src/mock/index.ts
  packages/tree/src/ATree.ts
  packages/tree/src/ATrees.ts
  packages/tree/src/ClosureTable/ClosureTable.ts
  packages/tree/src/ClosureTable/ClosureTableHierarchies.ts
  packages/tree/src/ReadonlyTrees.ts
  packages/tree/src/Tree.ts
  packages/tree/src/TreeNode/ATreeNode.ts
  packages/tree/src/TreeNode/index.ts
  packages/tree/src/TreeNode/mock/index.ts
Due: eslint --fix --quiet

refactor: 💡 import path shortened
  packages/tree/src/ATree.ts
  packages/tree/src/ATrees.ts
  packages/tree/src/ReadonlyTrees.ts
  packages/tree/src/SerializableTree.ts
  packages/tree/src/SerializableTrees.ts
  packages/tree/src/StructurableTree.ts
  packages/tree/src/StructurableTrees.ts
  packages/tree/src/Tree.ts
Due: eslint --fix --quiet

chore(release): 2.9.0 [skip ci]
  packages/collection/CHANGELOG.md
  packages/collection/package.json
Due: sort-package-json

Notes added by 'git notes add'
  93f265406e96b9ac1c39d98a117e880b4a8b32c7
Due: none

chore(release): 2.9.0 [skip ci]
  packages/address/CHANGELOG.md
  packages/address/package.json
Due: sort-package-json

Notes added by 'git notes add'
  5badea1e9e541b70f7f90080997eb8693d74246e
Due: none

chore(release): 2.9.0 [skip ci]
  packages/project/CHANGELOG.md
  packages/project/package.json
Due: sort-package-json

Notes added by 'git notes add'
  f253d4c798b01d70060dece99def78cc6968a028
Due: none

chore(release): 2.9.0 [skip ci]
  packages/sequence/CHANGELOG.md
  packages/sequence/package.json
Due: sort-package-json

Notes added by 'git notes add'
  0a24cc305cbfa36b407af857667aeb219079a748
Due: none

chore(release): 2.9.0 [skip ci]
  packages/tree/CHANGELOG.md
  packages/tree/package.json
Due: sort-package-json

Notes added by 'git notes add'
  69ce9a91ee0344518fa8715c6dd496c913c1b75b
Due: none

docs: ✏️ prerequisite
  README.md
Due: none

chore: 🤖 remvoe lib section
  tsconfig.json
Due: none

chore: 🤖 target esnext
  tsconfig.json
Due: none

chore(release): 2.10.0 [skip ci]
  packages/collection/CHANGELOG.md
  packages/collection/package.json
Due: sort-package-json

Notes added by 'git notes add'
  4fec58ea7da871f2a9ef5f11e6373652650bfab5
Due: none

chore(release): 2.10.0 [skip ci]
  packages/address/CHANGELOG.md
  packages/address/package.json
Due: sort-package-json

Notes added by 'git notes add'
  d66b86be07f2812a8bd355a1e129f6ce7884cefc
Due: none

chore(release): 2.10.0 [skip ci]
  packages/project/CHANGELOG.md
  packages/project/package.json
Due: sort-package-json

Notes added by 'git notes add'
  4da83fe9c03e57e7c18efba929aa401641b88540
Due: none

chore(release): 2.10.0 [skip ci]
  packages/sequence/CHANGELOG.md
  packages/sequence/package.json
Due: sort-package-json

Notes added by 'git notes add'
  edcb7109eb175875da49cb219f8e5e5716f4bac1
Due: none

chore(release): 2.10.0 [skip ci]
  packages/tree/CHANGELOG.md
  packages/tree/package.json
Due: sort-package-json

Notes added by 'git notes add'
  81957997f3c09a4f4497d33568b185c8e61630ee
Due: none

feat: 🎸 packages updated
  packages/address/package.json
  packages/collection/package.json
  packages/project/package.json
  packages/sequence/package.json
  packages/tree/package.json
  yarn.lock
Due: sort-package-json

feat: 🎸 no constructor
  packages/tree/src/TreeError.ts
Due: eslint --fix --quiet

chore(release): 2.11.0 [skip ci]
  packages/collection/CHANGELOG.md
  packages/collection/package.json
Due: sort-package-json

Notes added by 'git notes add'
  11e8e2be738bc392beb779116c179f84d9fabb13
Due: none

chore(release): 2.11.0 [skip ci]
  packages/address/CHANGELOG.md
  packages/address/package.json
Due: sort-package-json

Notes added by 'git notes add'
  a8e25a4e3878c5613404d681b7caecad32667208
Due: none

chore(release): 2.11.0 [skip ci]
  packages/project/CHANGELOG.md
  packages/project/package.json
Due: sort-package-json
