Repository jamashita/lluvia: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format && yarn lint, sort-package-json

fix: 🐛 unused import
  src/tree/ClosureTable/ClosureTable.ts
Due: yarn format && yarn lint

chore(release): 1.20.0 [skip ci]
  CHANGELOG.md
  package.json
Due: sort-package-json

Notes added by 'git notes add'
  42/08c71729cb3752ab5ba629a8851b179498338e
Due: none

chore: 🤖 ide settings
  .idea/material_theme_project_new.xml
Due: none

feat: 🎸 chunk(), shuffle()
  package.json
  src/sequence/ASequence.ts
  src/sequence/ImmutableSequence.ts
  src/sequence/MutableSequence.ts
  src/sequence/ReadonlySequence.ts
  src/sequence/mock/MockSequence.ts
  yarn.lock
Due: yarn format && yarn lint, sort-package-json

refactor: 💡 throws SequenceError when value is invalid
  src/collection/CollectionError.ts
  src/collection/index.ts
  src/sequence/ASequence.ts
  src/sequence/SequenceError.ts
  src/sequence/__tests__/ImmutableSequence.spec.ts
  src/sequence/__tests__/MutableSequence.spec.ts
  src/sequence/index.ts
Due: yarn format && yarn lint

feat: 🎸 errors
  src/address/AddressError.ts
  src/address/index.ts
  src/dictionary/DictionaryError.ts
  src/dictionary/index.ts
Due: yarn format && yarn lint

feat: 🎸 packages updated
  package.json
  yarn.lock
Due: sort-package-json

chore(release): 1.21.0 [skip ci]
  CHANGELOG.md
  package.json
Due: sort-package-json

Notes added by 'git notes add'
  e3/a26a5545bcfa084c83dbb6a4241b102b79430b
Due: none

chore(release): 1.22.0 [skip ci]
  CHANGELOG.md
  package.json
Due: sort-package-json

Notes added by 'git notes add'
  5fcbf0714416dcac6307d28a1af9b2b9496267b6
Due: none

Notes added by 'git notes add'
  4613dcdfa09fd5653a21fd517ec3fd2cf0da8a78
Due: none

chore(release): 1.23.0 [skip ci]
  CHANGELOG.md
  package.json
Due: sort-package-json

Notes added by 'git notes add'
  a5e17a19e3f7b71f917a33f13c7e32cc7dc56f37
Due: none

chore(release): 1.24.0 [skip ci]
  CHANGELOG.md
  package.json
Due: sort-package-json

chore: 🤖 ide settings
  .idea/git_toolbox_blame.xml
Due: none

chore: 🤖 biome settings
  biome.json
Due: none

chore(release): 1.25.0 [skip ci]
  CHANGELOG.md
  package.json
Due: sort-package-json

Notes added by 'git notes add'
  a3dff4b2d8c21ac4a88eb77e6b5c950b0baa0aa2
Due: none

Path conditions:
  yarn format && yarn lint: any of: src/**/*.{ts,tsx}
  sort-package-json: any of: package.json
