Repository jamashita/lluvia: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --quiet, sort-package-json

.lintstagedrc.json:

{
  "packages/**/src/**/*.{ts,tsx}": "eslint --fix --quiet",
  "package.json": "sort-package-json"
}

Notes added by 'git notes add'
  129f844001cabf369761f6d7bcda828078a6b8d0
Due: none

chore(release): 2.1.0 [skip ci]
  packages/sequence/CHANGELOG.md
  packages/sequence/package.json
Due: sort-package-json

Notes added by 'git notes add'
  a12d25cecff272047ac5346d4132c6e5aeccc924
Due: none

chore(release): 2.1.0 [skip ci]
  packages/tree/CHANGELOG.md
  packages/tree/package.json
Due: sort-package-json

Notes added by 'git notes add'
  623e2d056461e7bc88001bdb0a6d0860c4376fd0
Due: none

feat: 🎸 update
  packages/address/CHANGELOG.md
  packages/address/package.json
  packages/collection/CHANGELOG.md
  packages/collection/package.json
  packages/project/CHANGELOG.md
  packages/project/package.json
  packages/sequence/CHANGELOG.md
  packages/sequence/package.json
  packages/tree/CHANGELOG.md
  packages/tree/package.json
  yarn.lock
Due: sort-package-json

chore(release): 2.1.0 [skip ci]
  packages/collection/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  997c507fd99e707ff27f5a894db5e9d93ea23691
Due: none

chore(release): 2.2.0 [skip ci]
  packages/address/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  addd678bf91772840e6241b2df8dafe4045d1319
Due: none

chore(release): 2.2.0 [skip ci]
  packages/project/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  d03e91f013fb077360b457994123fef610c48568
Due: none

chore(release): 2.2.0 [skip ci]
  packages/sequence/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  7ed930f2f334e5cc87cb28e4af2c206c3c513443
Due: none

chore(release): 2.2.0 [skip ci]
  packages/tree/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  f4b067756f8c223935c65e1183bcd471fc04abb4
Due: none

feat: 🎸 update
  package.json
  packages/address/package.json
  packages/collection/package.json
  packages/project/package.json
  packages/sequence/package.json
  packages/tree/package.json
  yarn.lock
Due: sort-package-json

style: 💄 imple not break line
  packages/tree/src/ClosureTable/ClosureTableHierarchy.ts
  packages/tree/src/Mock/MockTreeObject.ts
  packages/tree/src/SerializableTree.ts
  packages/tree/src/SerializableTrees.ts
  packages/tree/src/TreeNode/ATreeNode.ts
  packages/tree/src/TreeNode/SerializableTreeNode.ts
Due: eslint --fix --quiet

style: 💄 method orderings
  packages/address/src/AAddress.ts
  packages/collection/src/Quantity.ts
  packages/project/src/AProject.ts
  packages/sequence/src/ASequence.ts
Due: eslint --fix --quiet

feat: 🎸 update
  jest.config.cjs
  package.json
  packages/address/package.json
  packages/collection/package.json
  packages/project/package.json
  packages/sequence/package.json
  packages/tree/package.json
  yarn.lock
Due: sort-package-json

feat: 🎸 string -> number because of hashCode() returns value
  packages/address/src/AAddress.ts
  packages/address/src/ImmutableAddress.ts
  packages/address/src/Mock/MockAddress.ts
  packages/address/src/MutableAddress.ts
  packages/project/src/AProject.ts
  packages/project/src/ImmutableProject.ts
  packages/project/src/Mock/MockProject.ts
  packages/project/src/MutableProject.ts
Due: eslint --fix --quiet

chore(release): 2.2.0 [skip ci]
  packages/collection/CHANGELOG.md
  packages/collection/package.json
Due: sort-package-json

Notes added by 'git notes add'
  63b70bac4a8e02fd0636bbb208acfec8b5f694ca
Due: none

chore(release): 2.3.0 [skip ci]
  packages/address/CHANGELOG.md
  packages/address/package.json
Due: sort-package-json

Notes added by 'git notes add'
  6120f8381b3c090b095247d8957d18b251222373
Due: none

chore(release): 2.3.0 [skip ci]
  packages/project/CHANGELOG.md
  packages/project/package.json
Due: sort-package-json

Notes added by 'git notes add'
  12786411ed620adf9349c3131ec0b759d1e8718d
Due: none

chore(release): 2.3.0 [skip ci]
  packages/sequence/CHANGELOG.md
  packages/sequence/package.json
Due: sort-package-json

Notes added by 'git notes add'
  63cb66333c4b26963b79a49cfe2facb5fdb81aea
Due: none

chore(release): 2.3.0 [skip ci]
  packages/tree/CHANGELOG.md
  packages/tree/package.json
Due: sort-package-json

Notes added by 'git notes add'
  42d9cf31ff42f6fdce5b4fc79d5757e28271909e
Due: none

feat: 🎸 update
  babel.config.cjs
  package.json
  yarn.lock
Due: sort-package-json

chore: 🤖 testing process
  .gitignore
  jest.config.cjs
Due: none

fix: 🐛 remove Whatever
  packages/address/src/ImmutableAddress.ts
Due: eslint --fix --quiet

chore: 🤖 tsconfig build process
  packages/address/tsconfig.build.json
  packages/address/tsconfig.cjs.json
  packages/address/tsconfig.esm.json
  packages/collection/tsconfig.build.json
  packages/collection/tsconfig.cjs.json
  packages/collection/tsconfig.esm.json
  packages/project/tsconfig.build.json
  packages/project/tsconfig.cjs.json
  packages/project/tsconfig.esm.json
  packages/sequence/tsconfig.build.json
  packages/sequence/tsconfig.cjs.json
  packages/sequence/tsconfig.esm.json
  packages/tree/tsconfig.build.json
  packages/tree/tsconfig.cjs.json
  packages/tree/tsconfig.esm.json
  tsconfig.json
Due: none

feat: 🎸 update
  packages/address/package.json
  packages/collection/package.json
  packages/project/package.json
  packages/sequence/package.json
  packages/tree/package.json
Due: sort-package-json

fix: 🐛 build option
  packages/address/package.json
  packages/collection/package.json
  packages/project/package.json
  packages/sequence/package.json
  packages/tree/package.json
Due: sort-package-json

chore(release): 2.3.0 [skip ci]
  packages/collection/CHANGELOG.md
  packages/collection/package.json
Due: sort-package-json

Notes added by 'git notes add'
  ed6b9fa9f2aa48ffe6afd7488b66cf2063f1295e
Due: none
