Repository jamashita/lluvia: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --quiet, sort-package-json

chore(release): 2.17.0 [skip ci]
  packages/collection/CHANGELOG.md
  packages/collection/package.json
Due: sort-package-json

Notes added by 'git notes add'
  76/57befc81e8d33d3be98ec533bf89e759199768
Due: none

chore(release): 2.17.0 [skip ci]
  packages/address/CHANGELOG.md
  packages/address/package.json
Due: sort-package-json

Notes added by 'git notes add'
  e5/a1dc16614b072fad28bd08ed1666dc6b89494b
Due: none

feat: 🎸 pakcage downgraded
  package.json
  yarn.lock
Due: sort-package-json

feat: 🎸 packages updated
  package.json
  packages/address/package.json
  packages/dictionary/package.json
  packages/sequence/package.json
  packages/tree/package.json
  yarn.lock
Due: sort-package-json

chore(release): 2.18.0 [skip ci]
  packages/address/CHANGELOG.md
  packages/address/package.json
Due: sort-package-json

Notes added by 'git notes add'
  9b/40e2d9bcb2cd5159711788d26e035f5b5fda74
Due: none

chore(release): 1.0.0 [skip ci]
  packages/dictionary/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  4a/1770a110edff7cd22b3a96d8b713a4db71d5fe
Due: none

chore(release): 2.17.0 [skip ci]
  packages/sequence/CHANGELOG.md
  packages/sequence/package.json
Due: sort-package-json

Notes added by 'git notes add'
  97/3e2d1acc117c189c4f04eed2f6c9266c29151a
Due: none

chore(release): 2.16.0 [skip ci]
  packages/tree/CHANGELOG.md
  packages/tree/package.json
Due: sort-package-json

Notes added by 'git notes add'
  7e/dc92e51e51f77e7fb291d5998438c87a11a7d3
Due: none

feat: 🎸 packages updated
  package.json
  packages/address/package.json
  packages/collection/package.json
  packages/dictionary/package.json
  packages/sequence/package.json
  packages/tree/package.json
  yarn.lock
Due: sort-package-json

test: 💍 setting files
  .swcrc
Due: none

chore(release): 2.18.0 [skip ci]
  packages/collection/CHANGELOG.md
  packages/collection/package.json
Due: sort-package-json

Notes added by 'git notes add'
  dd/92ea493b4190f9f98ccaaf99d6699fed3e7c42
Due: none

chore(release): 2.19.0 [skip ci]
  packages/address/CHANGELOG.md
  packages/address/package.json
Due: sort-package-json

Notes added by 'git notes add'
  59/2215ecf8ed7cbda74828c131f36fabed5345b5
Due: none

chore(release): 1.1.0 [skip ci]
  packages/dictionary/CHANGELOG.md
  packages/dictionary/package.json
Due: sort-package-json

Notes added by 'git notes add'
  4e/f8cd858215b6b16dea725c6761c856eaf15bd2
Due: none

chore(release): 2.18.0 [skip ci]
  packages/sequence/CHANGELOG.md
  packages/sequence/package.json
Due: sort-package-json

Notes added by 'git notes add'
  20/1255967cb79ed9c03cb09a75662d45f84efa83
Due: none

docs: ✏️ README
  README.md
Due: none

feat: 🎸 Iterable -> IterablteIterator
  packages/collection/src/Quantity.ts
  packages/tree/src/ClosureTable/ClosureTable.ts
  packages/tree/src/ClosureTable/ClosureTableHierarchies.ts
Due: eslint --fix --quiet

chore(release): 2.19.0 [skip ci]
  packages/collection/CHANGELOG.md
  packages/collection/package.json
Due: sort-package-json

Notes added by 'git notes add'
  45/42557aec109b14766f4a45db05908ae80a4fe3
Due: none

feat: 🎸 packages updated
  packages/address/package.json
  packages/dictionary/package.json
  packages/sequence/package.json
  packages/tree/package.json
  yarn.lock
Due: sort-package-json

chore(release): 2.20.0 [skip ci]
  packages/address/CHANGELOG.md
  packages/address/package.json
Due: sort-package-json

Notes added by 'git notes add'
  5e/7b54435ac793564f74e38bb4a495ba36d453b0
Due: none

chore(release): 1.2.0 [skip ci]
  packages/dictionary/CHANGELOG.md
  packages/dictionary/package.json
Due: sort-package-json

Notes added by 'git notes add'
  db/f31e39edffd03012a17e96325bcd06950476c3
Due: none

chore(release): 2.19.0 [skip ci]
  packages/sequence/CHANGELOG.md
  packages/sequence/package.json
Due: sort-package-json

Notes added by 'git notes add'
  0b/a0ff7f9d13357e7d370010f545ba6b0238734e
Due: none

chore(release): 2.17.0 [skip ci]
  packages/tree/CHANGELOG.md
  packages/tree/package.json
Due: sort-package-json

Notes added by 'git notes add'
  74/d3874a738b90aec4605a14e350644b2bf043c6
Due: none

feat: 🎸 util.await()
  packages/address/src/AddressUtil.ts
  packages/address/src/ImmutableAddress.ts
  packages/address/src/MutableAddress.ts
  packages/address/src/__tests__/AddressUtil.spec.ts
  packages/dictionary/src/DictionaryUtil.ts
  packages/dictionary/src/ImmutableDictionary.ts
  packages/dictionary/src/MutableDictionary.ts
  packages/dictionary/src/__tests__/DictionaryUtil.spec.ts
  packages/sequence/src/ImmutableSequence.ts
  packages/sequence/src/MutableSequence.ts
  packages/sequence/src/SequenceUtil.ts
  packages/sequence/src/__tests__/SequenceUtil.spec.ts
Due: eslint --fix --quiet

test: 💍 await()
  packages/address/src/__tests__/ImmutableAddress.spec.ts
  packages/address/src/__tests__/MutableAddress.spec.ts
  packages/dictionary/src/__tests__/ImmutableDictionary.spec.ts
  packages/dictionary/src/__tests__/MutableDictionary.spec.ts
  packages/sequence/src/__tests__/ImmutableSequence.spec.ts
  packages/sequence/src/__tests__/MutableSequence.spec.ts
Due: eslint --fix --quiet

Path conditions:
  eslint --fix --quiet: any of: packages/**/src/**/*.{ts,tsx}
  sort-package-json: any of: package.json
