Repository jamashita/lluvia: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --quiet, sort-package-json

Notes added by 'git notes add'
  c64c1417d15132e8ff1e4b49c7a9ad2cb9a485eb
Due: none

chore(release): 2.4.0 [skip ci]
  packages/address/CHANGELOG.md
  packages/address/package.json
Due: sort-package-json

chore(release): 2.4.0 [skip ci]
  packages/project/CHANGELOG.md
  packages/project/package.json
Due: sort-package-json

Notes added by 'git notes add'
  a02e487b9e2dd07baf2a524af025496904fe8997
Due: none

chore(release): 2.4.0 [skip ci]
  packages/sequence/CHANGELOG.md
  packages/sequence/package.json
Due: sort-package-json

Notes added by 'git notes add'
  59ae19f6a9e3575a98095e725445f37abb3ce48c
Due: none

chore(release): 2.4.0 [skip ci]
  packages/tree/CHANGELOG.md
  packages/tree/package.json
Due: sort-package-json

Notes added by 'git notes add'
  c8401ab94b648d1eef4f0d51cf42ec1b5ce526dc
Due: none

fix: 🐛 removed "type": "module"
  package.json
  packages/sequence/package.json
Due: sort-package-json

chore(release): 2.4.1 [skip ci]
  packages/sequence/CHANGELOG.md
  packages/sequence/package.json
Due: sort-package-json

Notes added by 'git notes add'
  7d3a0cfe94c1b23d9690cdfc69f21cf8727b8c14
Due: none

chore: 🤖 tsconfig.json
  tsconfig.json
Due: none

ci: 🎡 trigger changed
  .github/workflows/ci.yml
Due: none

feat: 🎸 packages updated
  package.json
  packages/address/package.json
  packages/collection/package.json
  packages/project/package.json
  packages/sequence/package.json
  packages/tree/package.json
  yarn.lock
Due: sort-package-json

chore(release): 2.4.0 [skip ci]
  packages/collection/CHANGELOG.md
  packages/collection/package.json
Due: sort-package-json

Notes added by 'git notes add'
  17f6003efb9d4222b9d0dc4a45b26b31b9dfa70a
Due: none

chore(release): 2.5.0 [skip ci]
  packages/address/CHANGELOG.md
  packages/address/package.json
Due: sort-package-json

Notes added by 'git notes add'
  270497823f317b283e12b67b132bf47c19db525c
Due: none

chore(release): 2.5.0 [skip ci]
  packages/project/CHANGELOG.md
  packages/project/package.json
Due: sort-package-json

Notes added by 'git notes add'
  975ccf900c51fda23201882d1f4bac23db3a0fec
Due: none

chore(release): 2.5.0 [skip ci]
  packages/sequence/CHANGELOG.md
  packages/sequence/package.json
Due: sort-package-json

Notes added by 'git notes add'
  9101a880f28e5f1afbb20753249e2ad5cd07d9eb
Due: none

chore(release): 2.5.0 [skip ci]
  packages/tree/CHANGELOG.md
  packages/tree/package.json
Due: sort-package-json

Notes added by 'git notes add'
  0b069419471a5a7eb89a07fd424bf2a4f94f9a70
Due: none

ci: 🎡 remove release
  .github/workflows/ci.yml
Due: none

feat: 🎸 packages updated
  packages/address/package.json
  packages/collection/package.json
  packages/project/package.json
  packages/sequence/package.json
  packages/tree/package.json
  yarn.lock
Due: sort-package-json

style: 💄 code style
  .idea/codeStyles/codeStyleConfig.xml
Due: none

feat: 🎸 removed noun
  packages/collection/src/Collection.ts
  packages/collection/src/Quantity.ts
Due: eslint --fix --quiet

feat: 🎸 removed noun
  packages/sequence/src/ASequence.ts
  packages/sequence/src/ImmutableSequence.ts
  packages/sequence/src/Mock/MockSequence.ts
  packages/sequence/src/MutableSequence.ts
  packages/sequence/src/ReadonlySequence.ts
  packages/sequence/src/Sequence.ts
Due: eslint --fix --quiet

feat: 🎸 remove noun
  packages/project/src/AProject.ts
  packages/project/src/ImmutableProject.ts
  packages/project/src/Mock/MockProject.ts
  packages/project/src/MutableProject.ts
  packages/project/src/Project.ts
  packages/project/src/ReadonlyProject.ts
Due: eslint --fix --quiet

feat: 🎸 removed noun
  packages/address/src/AAddress.ts
  packages/address/src/Address.ts
  packages/address/src/ImmutableAddress.ts
  packages/address/src/Mock/MockAddress.ts
  packages/address/src/MutableAddress.ts
  packages/address/src/ReadonlyAddress.ts
Due: eslint --fix --quiet

feat: 🎸 removed noun
  packages/tree/src/ATree.ts
  packages/tree/src/ATrees.ts
  packages/tree/src/ClosureTable/ClosureTable.ts
  packages/tree/src/ClosureTable/ClosureTableHierarchies.ts
  packages/tree/src/ClosureTable/ClosureTableHierarchy.ts
  packages/tree/src/Error/TreeError.ts
  packages/tree/src/Mock/MockTree.ts
  packages/tree/src/Mock/MockTreeID.ts
  packages/tree/src/Mock/MockTreeObject.ts
  packages/tree/src/Mock/MockTrees.ts
  packages/tree/src/ReadonlyTrees.ts
  packages/tree/src/SerializableTree.ts
  packages/tree/src/SerializableTreeObject.ts
  packages/tree/src/SerializableTrees.ts
  packages/tree/src/StructurableTree.ts
  packages/tree/src/StructurableTreeObject.ts
  packages/tree/src/StructurableTrees.ts
  packages/tree/src/Tree.ts
  packages/tree/src/TreeID.ts
  packages/tree/src/TreeNode/ATreeNode.ts
  packages/tree/src/TreeNode/Mock/MockTreeNode.ts
  packages/tree/src/TreeNode/ReadonlyTreeNode.ts
  packages/tree/src/TreeNode/SerializableTreeNode.ts
  packages/tree/src/TreeNode/StructurableTreeNode.ts
  packages/tree/src/TreeNode/TreeNode.ts
  packages/tree/src/Trees.ts
Due: eslint --fix --quiet

chore(release): 2.5.0 [skip ci]
  packages/collection/CHANGELOG.md
  packages/collection/package.json
Due: sort-package-json

Notes added by 'git notes add'
  1e4235ecaf7fc160885bee0a3231f5151af09e2e
Due: none

chore(release): 2.6.0 [skip ci]
  packages/address/CHANGELOG.md
  packages/address/package.json
Due: sort-package-json

Notes added by 'git notes add'
  bf5b738b63c9f29f373c429ac1f68bc04d69a2f9
Due: none

chore(release): 2.6.0 [skip ci]
  packages/project/CHANGELOG.md
  packages/project/package.json
Due: sort-package-json

Notes added by 'git notes add'
  393b492738611279b6fdbc25b79e3d052ea7350d
Due: none

chore(release): 2.6.0 [skip ci]
  packages/sequence/CHANGELOG.md
  packages/sequence/package.json
Due: sort-package-json

Path conditions:
  eslint --fix --quiet: any of: packages/**/src/**/*.{ts,tsx}
  sort-package-json: any of: package.json
