Repository jamashita/lluvia: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --quiet, sort-package-json

.lintstagedrc.json:

{
  "packages/**/src/**/*.{ts,tsx}": "eslint --fix --quiet",
  "package.json": "sort-package-json"
}

chore(release): 2.14.0 [skip ci]
  packages/sequence/CHANGELOG.md
  packages/sequence/package.json
Due: sort-package-json

Notes added by 'git notes add'
  ea/462e1654043f65e9fd12f86f83708b78bd4687
Due: none

Notes added by 'git notes add'
  6b/6ab7f03984a07738a4779d724ecdc0bb6d7417
Due: none

chore(release): 2.13.0 [skip ci]
  packages/tree/CHANGELOG.md
  packages/tree/package.json
Due: sort-package-json

feat: 🎸 remove converage scripts
  packages/address/package.json
  packages/collection/package.json
  packages/project/package.json
  packages/sequence/package.json
  packages/tree/package.json
Due: sort-package-json

test: 💍 remove coverage options
  jest.config.cjs
Due: none

feat: 🎸 packages updated
  package.json
  packages/address/package.json
  packages/collection/package.json
  packages/project/package.json
  packages/sequence/package.json
  packages/tree/package.json
  yarn.lock
Due: sort-package-json

chore(release): 2.14.0 [skip ci]
  packages/collection/CHANGELOG.md
  packages/collection/package.json
Due: sort-package-json

Notes added by 'git notes add'
  10/f8f9ea56e28ce402027ad33fcbcdd1c5d929f3
Due: none

chore(release): 2.15.0 [skip ci]
  packages/address/CHANGELOG.md
  packages/address/package.json
Due: sort-package-json

Notes added by 'git notes add'
  3a/c6e95ae9dfdd42f8a75453e395da854cff4f88
Due: none

chore(release): 2.15.0 [skip ci]
  packages/project/CHANGELOG.md
  packages/project/package.json
Due: sort-package-json

Notes added by 'git notes add'
  9d/f1cf0da5749a96d7570aa317a7629c411d3b71
Due: none

chore(release): 2.15.0 [skip ci]
  packages/sequence/CHANGELOG.md
  packages/sequence/package.json
Due: sort-package-json

Notes added by 'git notes add'
  64/29e8e68d969e8e1cce64a079beb2a1e7c96183
Due: none

chore(release): 2.14.0 [skip ci]
  packages/tree/CHANGELOG.md
  packages/tree/package.json
Due: sort-package-json

Notes added by 'git notes add'
  d3/ef28fca4a4faf0e60db1894598fe962d315ca5
Due: none

ci: 🎡 removed a trigger
  .github/workflows/ci.yml
Due: none

chore(release): 2.15.0 [skip ci]
  packages/collection/CHANGELOG.md
  packages/collection/package.json
Due: sort-package-json

Notes added by 'git notes add'
  6c/8057102350bbbe82dfe2716baad2215284721b
Due: none

chore(release): 2.16.0 [skip ci]
  packages/address/CHANGELOG.md
  packages/address/package.json
Due: sort-package-json

Notes added by 'git notes add'
  3c/93179fb00663f96437eabe48e2c9ce89e3d50c
Due: none

chore(release): 2.16.0 [skip ci]
  packages/project/CHANGELOG.md
  packages/project/package.json
Due: sort-package-json

Notes added by 'git notes add'
  17/9e9581e3cf02245db81169bb517143b7b030e6
Due: none

chore(release): 2.16.0 [skip ci]
  packages/sequence/CHANGELOG.md
  packages/sequence/package.json
Due: sort-package-json

Notes added by 'git notes add'
  3b/ad2247f355b6d2da2034d62f4bd7209652c3b4
Due: none

chore(release): 2.15.0 [skip ci]
  packages/tree/CHANGELOG.md
  packages/tree/package.json
Due: sort-package-json

Notes added by 'git notes add'
  9f/10abcb9a9e58895ee11588c90d9faee4731826
Due: none

Notes added by 'git notes add'
  d8/c689de8836f169ae580f86c9acdb98882dd2e2
Due: none

chore(release): 2.16.0 [skip ci]
  packages/collection/CHANGELOG.md
  packages/collection/package.json
Due: sort-package-json

ci: 🎡 image version raised
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

test: 💍 testing library changed
  jest.config.cjs
  package.json
  yarn.lock
Due: sort-package-json

docs: ✏️ Project -> Dictionary
  packages/collection/README.md
Due: none

feat: 🎸 packages updated
  yarn.lock
Due: none

refactor: 💡 removed
  packages/project/CHANGELOG.md
  packages/project/README.md
  packages/project/package.json
  packages/project/src/AProject.ts
  packages/project/src/ImmutableProject.ts
  packages/project/src/MutableProject.ts
  packages/project/src/Project.ts
  packages/project/src/ReadonlyProject.ts
  packages/project/src/__tests__/AProject.spec.ts
  packages/project/src/__tests__/ImmutableProject.spec.ts
  packages/project/src/__tests__/MutableProject.spec.ts
  packages/project/src/index.ts
  packages/project/src/mock/MockProject.ts
  packages/project/src/mock/index.ts
  packages/project/tsconfig.build.json
  packages/project/tsconfig.cjs.json
  packages/project/tsconfig.esm.json
Due: eslint --fix --quiet, sort-package-json

refactor: 💡 Project -> Dictionary
  packages/dictionary/CHANGELOG.md
  packages/dictionary/README.md
  packages/dictionary/package.json
  packages/dictionary/src/ADictionary.ts
  packages/dictionary/src/Dictionary.ts
  packages/dictionary/src/ImmutableDictionary.ts
  packages/dictionary/src/MutableDictionary.ts
  packages/dictionary/src/ReadonlyDictionary.ts
  packages/dictionary/src/__tests__/ADictionary.spec.ts
  packages/dictionary/src/__tests__/ImmutableDictionary.spec.ts
  packages/dictionary/src/__tests__/MutableDictionary.spec.ts
  packages/dictionary/src/index.ts
  packages/dictionary/src/mock/MockDictionary.ts
  packages/dictionary/src/mock/index.ts
  packages/dictionary/tsconfig.build.json
  packages/dictionary/tsconfig.cjs.json
  packages/dictionary/tsconfig.esm.json
  packages/tree/src/ClosureTable/ClosureTable.ts
  packages/tree/src/ClosureTable/ClosureTableHierarchies.ts
  packages/tree/src/ClosureTable/__tests__/ClosureTable.spec.ts
  packages/tree/src/ClosureTable/__tests__/ClosureTableHierarchies.spec.ts
  packages/tree/src/ClosureTable/mock/MockClosureTable.ts
  packages/tree/src/StructurableTree.ts
  packages/tree/src/StructurableTrees.ts
  packages/tree/src/__tests__/StructurableTrees.spec.ts
  packages/tree/src/__tests__/Trees.spec.ts
  packages/tree/src/mock/MockTrees.ts
Due: eslint --fix --quiet, sort-package-json

feat: 🎸 project -> dictionary
  package.json
  packages/dictionary/src/ADictionary.ts
  packages/dictionary/src/ImmutableDictionary.ts
  packages/dictionary/src/MutableDictionary.ts
  packages/dictionary/src/__tests__/ADictionary.spec.ts
  packages/dictionary/src/__tests__/ImmutableDictionary.spec.ts
  packages/dictionary/src/__tests__/MutableDictionary.spec.ts
  packages/dictionary/src/mock/MockDictionary.ts
  packages/tree/src/ClosureTable/ClosureTable.ts
  packages/tree/src/ClosureTable/__tests__/ClosureTable.spec.ts
  packages/tree/src/ClosureTable/__tests__/ClosureTableHierarchies.spec.ts
  packages/tree/src/ClosureTable/mock/MockClosureTable.ts
  packages/tree/src/StructurableTrees.ts
  packages/tree/src/__tests__/Trees.spec.ts
  yarn.lock
Due: eslint --fix --quiet, sort-package-json
