Repository jamashita/lluvia: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --quiet, sort-package-json

Notes added by 'git notes add'
  49/e37034a05ae3f6850a3365d302a7f9c7eb756b
Due: none

chore(release): 2.21.0 [skip ci]
  packages/address/CHANGELOG.md
  packages/address/package.json
Due: sort-package-json

chore(release): 1.3.0 [skip ci]
  packages/dictionary/CHANGELOG.md
  packages/dictionary/package.json
Due: sort-package-json

Notes added by 'git notes add'
  16/92098d547d93aad3a714f8a2981e4c6a117aec
Due: none

feat: 🎸 packages updated
  package.json
  packages/tree/package.json
  yarn.lock
Due: sort-package-json

feat: 🎸 packages updated
  package.json
  yarn.lock
Due: sort-package-json

chore(release): 2.20.0 [skip ci]
  packages/sequence/CHANGELOG.md
  packages/sequence/package.json
Due: sort-package-json

Notes added by 'git notes add'
  79/24d74caf60b7ffed3bf76ae37d1f9a87a7dc43
Due: none

chore(release): 2.18.0 [skip ci]
  packages/tree/CHANGELOG.md
  packages/tree/package.json
Due: sort-package-json

Notes added by 'git notes add'
  13/8e4386acb4ecf3b1dfc2bf0a7a5438f56ce946
Due: none

feat: 🎸 filter signature overload
  packages/address/src/Address.ts
  packages/address/src/ImmutableAddress.ts
  packages/address/src/MutableAddress.ts
  packages/address/src/ReadonlyAddress.ts
  packages/collection/src/Collection.ts
  packages/collection/src/Quantity.ts
  packages/dictionary/src/ADictionary.ts
  packages/dictionary/src/Dictionary.ts
  packages/dictionary/src/ImmutableDictionary.ts
  packages/dictionary/src/MutableDictionary.ts
  packages/dictionary/src/ReadonlyDictionary.ts
  packages/sequence/src/ASequence.ts
  packages/sequence/src/ImmutableSequence.ts
  packages/sequence/src/MutableSequence.ts
  packages/sequence/src/ReadonlySequence.ts
  packages/sequence/src/Sequence.ts
Due: eslint --fix --quiet

chore(release): 2.20.0 [skip ci]
  packages/collection/CHANGELOG.md
  packages/collection/package.json
Due: sort-package-json

Notes added by 'git notes add'
  6b/ca115d5a314039f98f03cea1aa313cecf64e40
Due: none

chore(release): 2.22.0 [skip ci]
  packages/address/CHANGELOG.md
  packages/address/package.json
Due: sort-package-json

Notes added by 'git notes add'
  34/0960e7b18fb9c561e4875459cdd713a6a2a6e3
Due: none

chore(release): 1.4.0 [skip ci]
  packages/dictionary/CHANGELOG.md
  packages/dictionary/package.json
Due: sort-package-json

Notes added by 'git notes add'
  0d/3c706d6b508644d2e8ebf33856ab2cbc2d2f99
Due: none

chore(release): 2.21.0 [skip ci]
  packages/sequence/CHANGELOG.md
  packages/sequence/package.json
Due: sort-package-json

Notes added by 'git notes add'
  25/1df7179efd187d6a9b8051fe5cd508ae974757
Due: none

feat: 🎸 filter narrowing
  packages/address/src/AAddress.ts
  packages/address/src/Address.ts
  packages/address/src/ImmutableAddress.ts
  packages/address/src/MutableAddress.ts
  packages/address/src/ReadonlyAddress.ts
  packages/collection/src/Collection.ts
  packages/dictionary/src/ADictionary.ts
  packages/dictionary/src/Dictionary.ts
  packages/dictionary/src/ImmutableDictionary.ts
  packages/dictionary/src/MutableDictionary.ts
  packages/dictionary/src/ReadonlyDictionary.ts
  packages/sequence/src/ASequence.ts
  packages/sequence/src/ImmutableSequence.ts
  packages/sequence/src/MutableSequence.ts
  packages/sequence/src/ReadonlySequence.ts
  packages/sequence/src/Sequence.ts
Due: eslint --fix --quiet

chore(release): 2.21.0 [skip ci]
  packages/collection/CHANGELOG.md
  packages/collection/package.json
Due: sort-package-json

Notes added by 'git notes add'
  0e/1aebfbd16fee543f5fb802238edf69be612730
Due: none

chore(release): 2.23.0 [skip ci]
  packages/address/CHANGELOG.md
  packages/address/package.json
Due: sort-package-json

Notes added by 'git notes add'
  50/bce87a6aca2e77376f7e8520e9f0a2151235c3
Due: none

chore(release): 1.5.0 [skip ci]
  packages/dictionary/CHANGELOG.md
  packages/dictionary/package.json
Due: sort-package-json

Notes added by 'git notes add'
  72/9bd09e1c327bd21ff0f3409546aa6bd53282dc
Due: none

chore(release): 2.22.0 [skip ci]
  packages/sequence/CHANGELOG.md
  packages/sequence/package.json
Due: sort-package-json

Notes added by 'git notes add'
  21/db72de7c91afe0baafe0ec07d6cb3792b373d6
Due: none

feat: 🎸 interface overload ordering
  packages/address/src/AAddress.ts
  packages/address/src/Address.ts
  packages/address/src/ImmutableAddress.ts
  packages/address/src/MutableAddress.ts
  packages/address/src/ReadonlyAddress.ts
  packages/collection/src/Collection.ts
  packages/dictionary/src/ADictionary.ts
  packages/dictionary/src/Dictionary.ts
  packages/dictionary/src/ImmutableDictionary.ts
  packages/dictionary/src/MutableDictionary.ts
  packages/dictionary/src/ReadonlyDictionary.ts
  packages/sequence/src/ASequence.ts
  packages/sequence/src/ImmutableSequence.ts
  packages/sequence/src/MutableSequence.ts
  packages/sequence/src/ReadonlySequence.ts
  packages/sequence/src/Sequence.ts
Due: eslint --fix --quiet

chore(release): 2.22.0 [skip ci]
  packages/collection/CHANGELOG.md
  packages/collection/package.json
Due: sort-package-json

Notes added by 'git notes add'
  8e/078d6696a0b18fd1d3aa2c19be33f6fe08a055
Due: none

Notes added by 'git notes add'
  67/2de4df9d143a9028652d857c6bd2748afde755
Due: none

chore(release): 2.24.0 [skip ci]
  packages/address/CHANGELOG.md
  packages/address/package.json
Due: sort-package-json

feat: 🎸 filter supports narrowing
  packages/address/src/AAddress.ts
  packages/collection/src/Collection.ts
  packages/collection/src/Quantity.ts
  packages/dictionary/src/ADictionary.ts
  packages/sequence/src/ASequence.ts
Due: eslint --fix --quiet

chore(release): 2.23.0 [skip ci]
  packages/collection/CHANGELOG.md
  packages/collection/package.json
Due: sort-package-json

Notes added by 'git notes add'
  3e/f1cbca1a37e793f7cc4f0868215143381005ba
Due: none

chore(release): 2.25.0 [skip ci]
  packages/address/CHANGELOG.md
  packages/address/package.json
Due: sort-package-json

Notes added by 'git notes add'
  54/9c0be2907d03f12be68c4cb7d05ade364b43d4
Due: none

Notes added by 'git notes add'
  c3/12f7a838302dfafcf0a350a7c3c69bea151e3a
Due: none

Path conditions:
  eslint --fix --quiet: any of: packages/**/src/**/*.{ts,tsx}
  sort-package-json: any of: package.json
